%hr.footer-fixed
.container.footer-container
  .footer-links
    - unless public_visibility_restricted?
      = link_to _("Explore"), explore_root_path
      = link_to _("Help"), help_path
    = link_to _("关于极狐(GitLab)"), "https://#{ApplicationHelper.promo_host}"
= footer_message
